<%= provide(:title, @user.name) %>
<div class="row">
   <div class="col-xs-12 col-md-3">
       <!--div class="list-group">
		  <a href="#" class="list-group-item heading ">
		    <span class="badge">14</span>
		    Transcript
		  </a>
		  <a href="#" class="list-group-item">
		    <span class="badge">4</span>
		    Take Home
		  </a>
		  <a href="#" class="list-group-item">
		    <span class="badge">32</span>
		    Schedule
		  </a><a href="#" class="list-group-item">
		    <span class="badge">2</span>
		    Calender
		  </a>
		</div-->
		<%= render 'shared/user_info' %>
		<%= render 'shared/stats' %>

		<%= render 'follow_form' if signed_in? %>


   </div>
    <div class="col-xs-12 col-md-6">
	  <% if @user.microposts.any? %>
			<ul class="list-group">
			  <a href='#' class="list-group-item">
			       <span class="badge"><%= @user.microposts.count %></span>
			       Microposts
			  </a>
		    </ul>
			  
				<div class="microposts">
					<%= render @microposts %>
				</div>
		        <%= will_paginate @microposts %>
	   <% end %>
	</div>
	<div class="hidden-xs col-md-3">
	<h2> I am hidden for phones </h2>
	<div>
</div>
