<!DOCTYPE html>
<html>
  <head>
      <title>TwoTime Ruby on Rails App | <%= yield(:title) %></title>
	    <%= render 'layouts/stylesheet_link_tag' %>
	    <%= render 'layouts/javascript_include_tags' %>
	    <%= render 'layouts/shim' %>
  </head>
  
  <body>
      <%= render 'layouts/navbar' %>
       <div class="container">
          <%= yield %>
       <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
